.overlay {
    bottom: 0;
    background-color: rgb(19, 19, 19);
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
}

.yt-iframe {
    position: fixed;
    margin: auto;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 80%;
    max-height: 80%;
    aspect-ratio: 16/9;
}
